{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <hr class="mt-5" style="border: 1px solid black; width: 400px;">
            <div class="text-center">
                <img src="/images/diamond.svg" alt="logo" width="110px" class="mt-3 mb-4">
                <h1 class="mb-4">Minéralogie<h1>
            </div>
        <hr style="border: 1px solid black; width: 400px;">
        <p class="text-center mt-5">Bienvenue sur un site dédié à la minéralogie brute et à la joaillerie. Vous trouverez une collection de minéraux avec quelques
        informations concernant les pièces. N'hésitez pas à me contacter pour toute questions ou renseignements.</p>
    </div>
{% endblock %}