{% extends 'base.html.twig' %}

{% block title %}Les minéraux{% endblock %}

{% block body %}
    <div class="jumbotron mt-4">
        <h1>Minéraux</h1>
    </div>
    <div class="container">
        <h2>Minéralogie Brute</h2>
        <div class="row flex">
            {% for mineral in mineraux %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('blog_show') }}" class="btn btn-outline-primary">{{mineral.title}}</a>
                        </h5>
                        <p class="card-text">{{mineral.continent}} {{mineral.pays}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
