{% extends 'base.html.twig' %}

{% block title %}Le minéral{% endblock %}

{% block body %}
    <div class="jumbotron mt-4">
        <h1>Le Minéral</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Continent</th>
                <th>Pays</th>
                <th>Mine</th>
            </thead>
        </table>
    </div>
{% endblock %}